<div class="profile">
    <div class="profile-top">
        <a class="profile-avatar" href="" target="_blank" rel='noopener noreferrer' title="some title">
            <img src="{{pic}}" alt="user picture" />
        </a>
    </div>
    <div class="profile-bottom">
        <div class="info-container">
            <span>First Name: </span><span>{{firstname}}</span> |
            <span>Last Name: </span> <span>{{lastname}}</span> |
            <span>Email: </span><span>{{email}}</span>
        </div>
    </div>
</div>